<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <h4>
                <ul class="main-nav nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><b>Home </b></a></li>
                    <li><a asp-controller="Products" asp-action="Index">Laptops</a></li>
                    <li><a asp-controller="Products" asp-action="SmartPhone">Điện thoại</a></li>
                    <li><a asp-controller="Products" asp-action="PhuKien">Phụ kiện</a></li>
                    <li><a asp-controller="Products" asp-action="Sales">Khuyến mãi</a></li>
                </ul>
            </h4>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>