<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <h4>
                
                    <ul class="main-nav nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index"> <h2><b> Trang Chủ </b> </h2></a></li>
                        <li><a asp-controller="Products" asp-action="Index"><b>Laptops</b></a></li>
                        <li><a asp-controller="Products" asp-action="SmartPhone"><b>Điện thoại</b></a></li>
                        <li><a asp-controller="Products" asp-action="PhuKien"><b>Phụ kiện</b></a></li>
                        <li><a asp-controller="Products" asp-action="Sales"><b>Khuyến mãi</b></a></li>
                    </ul>
                
            </h4>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>